#main-nav {
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px 0 0 0;
  margin: 0;
}
#main-nav li {
  padding: 12.5px 0;
}
@media (max-width: 700px) {
  #main-nav {
    display: none;
    padding: 0;
  }
}
#mobile-nav-toggle {
  color: #837c7c;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 700px) {
  #mobile-nav-toggle {
    display: none;
  }
}
