<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-3"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img
            src="/images/avatar.jpg"
            alt=""
            class="h-20 w-20 rounded-full ring-1 dark:ring-white/10 ring-primary/5"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-primary dark:text-white">
              <a href="#">
                <span class="absolute inset-0"></span>
                 Fangming Du
              </a>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">
              Architect | Software developer
            </p>
          </div>
        </div>
        <p
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
        >
        Hi there, I am Fangming (FM)!
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light lg:text-lg"
        >
          Holding registrations as an Architect in Singapore and the UK, with a master's degree from NUS, I have the privilege to work on a diverse range of projects; 
          Some notable recent projects I have been involved in includes: NS Square and Marina Bay Sands tower four in Singapore, Kai Tak Sports Park in Hongkong.
          <br />
          <br />
          These experiences have not only deepened my enthusiasm for addressing design and project management challenges 
          but have also honed my proficiency in leveraging computational solutions and emerging technologies. 
          <br />
          <br />
          Along the way I've touched a whole variety of tech, from python programming to web development, which has allowed me to broaden my skill set and become proficient in software development.
  
        </p>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white  dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-7xl"
          >
            Find me on
          </p>
        </div>
        <div class="grid mt-4 grid-cols-4 md:grid-cols-6 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full">
          <a
            href="mailto:fm@creaturexd.com"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </a>
          <a
            href="https://github.com/bfcxfm"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>
          
          <a
            href="https://populous.com/people/fangming-du"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-dribbble"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                d="M9 3.6c5 6 7 10.5 7.5 16.2"></path><path
                d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4"></path><path
                d="M3.1 10.75c5 0 9.814 -.38 15.314 -5"></path></svg
            >
          </a>
          
          <a
            href="https://sg.linkedin.com/in/fangmingdu"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-linkedin"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
              ></path><path d="M12 16l0 -5"></path><path
                d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
            >
          </a>
        </div>
      </div>
      <div
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-1 md:grid lg:gap-0 md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
      <div>
        <img
          src="/images/poster.jpg"
          class="rounded-2xl group-hover:ring-black/20 duration-300 aspect-[16/9] bg-primary/5 dark:bg-primary ring-1 ring-white/10  object-cover"
          alt=""
        />
      </div>
     
        <div>
          <div
          class="flex items-center text-sm font-medium text-primary dark:text-white"
        >
          <svg
            class="flex-none w-4 h-4 stroke-current"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
              fill="currentColor"></path>
            
          </svg>
          <span class="ml-2.5"> Architect</span>
        </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Projects (Build)
          </p>

          <p class="mt-2 text-sm text-zinc-500 dark:text-zinc-400">
            Recently involved major projects (from Design to Construction)
            </p>

            <p class="mt-5 text-sm text-zinc-700 dark:text-zinc-300">
            Marina Bay Sands Integrated Resort
            </p>
            <p class="text-xs mt-2 text-zinc-500">
              <span class="block text-xs">Landmark integrated resort expansion, Resort hotel with MICE and Arena Development;</span>
              <span class="block text-xs"> Singapore</span>
            </p>

            <p class="mt-3 text-sm text-zinc-700 dark:text-zinc-300">
              NS Square
              </p>
              <p class="text-xs mt-2 text-zinc-500">
                <span class="block text-xs">a multi-purpose event venue featuring a Grandstand, National Service-themed gallery, community sports facilities and a public waterfront promenade;</span>
                <span class="block text-xs"> Singapore</span>
              </p>


              <p class="mt-3 text-sm text-zinc-700 dark:text-zinc-300">
                Kai Tak Sports Park
                </p>
                <p class="text-xs mt-2 text-zinc-500">
                  <span class="block text-xs">Urban Oasis which integrates high-quality sports venues with retail, wellness, recreational and community spaces;</span>
                  <span class="block text-xs"> Hong Kong</span>
                </p>


                <p class="mt-3 text-sm text-zinc-700 dark:text-zinc-300">
                  Toa Payoh Integrated Development
                  </p>
                  <p class="text-xs mt-2 text-zinc-500">
                    <span class="block text-xs">a mega development includes a new regional sports centre, stadium, polyclinic, public library, and central town park;</span>
                    <span class="block text-xs"> Singapore</span>
                  </p>

                  <p class="mt-3 text-sm text-zinc-700 dark:text-zinc-300">
                    East Coast Integrated Depot
                    </p>
                    <p class="text-xs mt-2 text-zinc-500">
                      <span class="block text-xs">World’s first integrated four-in-one depot, office and transportation hub;</span>
                      <span class="block text-xs"> Singapore</span>
                    </p>

                    <p class="mt-3 text-sm text-zinc-700 dark:text-zinc-300">
                      Bidadari Estate
                      </p>
                      <p class="text-xs mt-2 text-zinc-500">
                        <span class="block text-xs">Public housing development with multi-storey carpark, school, commercial and social community living in the park;</span>
                        <span class="block text-xs"> Singapore</span>
                      </p>
            
        </div>
        
        
      </div>
      <div
        class="ring-1 dark:ring-white/10  ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8  bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Grab my résumé!
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none">
            
          </p>
        </div>
        <div class="w-full">
          <form class="mt-6 sm:flex w-full lg:max-w-sm mx-auto">
            <label for="email-address" class="sr-only">Email address</label>
            <input
              type="email"
              name="email-address"
              id="email-address"
              autocomplete="email"
              required=""
              class="block w-full h-12 px-4 py-2 text-sm text-zinc-500 bg-zinc-100 dark:bg-tertiary ring-1 dark:ring-white/10 ring-primary/5 rounded-lg appearance-none focus:ring-white/20 placeholder-zinc-400 focus:border-zinc-300 focus:bg-primary focus:outline-none focus:ring-indigo-500 sm:text-sm"
              placeholder="Enter your email"
            />
          </div>
        </form>
            <div class="mt-2 sm:mt-2 sm:flex-shrink-0">
              <button
                type="submit"
                class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
                >Get Link</button
              >
        </div>
      </div>
      
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary  dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="-mr-20">
          <img
            src="/images/Branch.jpg"
            class="rounded-2xl object-cover ring-1 h-64 w-full lg:h-auto dark:ring-white/10 ring-primary/5 bg-tertiary transition-shadow duration-300 ease-in-out invert dark:invert-0 hover:shadow-lg hover:shadow-black/30"
            alt=""
          />
        </div>
        <div>
          <div class="flex flex-wrap">
            
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
              <svg
                viewBox="0 0 24 24"
                aria-label="SDE"
                class="flex-none w-4 h-4 stroke-current"
                width="64"
                height="64"
              >
                <path
                  fill="#38bdf9"
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 14H4v-4h11v4zm0-5H4V9h11v4zm5 5h-4V9h4v9z"
                ></path>
              </svg>
              <span class="ml-2.5"> Software Developer</span>
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
          Tech Stack
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            As an aspiring software developer with a focus on human-centric design thinking, I have experience with the following: 
            <ul class="mt-5 text-sm text-zinc-700 dark:text-zinc-300">
            &bull; Web: HTML, CSS, JavaScript
            <br/>
            &bull; Framework: React
            <br/>
            &bull; Database: MangoDB, MySQL
            <br/>
            &bull; DevOps: AWS services, Apache
            <br/>
            &bull; Programming: Node.js, Python
            <br/>
            &bull; Software: Adobe Suite, Autodesk, Figma
            </ul>
          </p>
        </div>
      </div>
      
      <div
        class="lg:col-span-2 h-full xl:col-span-1 xl:h-fit flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-lg tracking-tight font-normal text-primary text-zinc-700 dark:text-zinc-300 md:text-lg"
        >
        As an architect by day and software engineer by night, my journey navigates the realms of both physical and digital landscapes.
          <br />
          <br />
          In 2016, I founded [Creature Atelier], a platform dedicated to the research and exploration of creativity meets technology, 
          where I assumed dual roles as both project manager and software engineer.
        </p>
        <p class="text-primary font-light dark:text-white mt-4">Fangming Du</p>
      </div>

</section>
