body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: black;
  }

h3{
  margin-top: 0vmin;
  font-size: 4vmin;
  color:blanchedalmond ;
  font-family: Papyrus,fantasy; 
}

  body > button {
    cursor: pointer;
  }
  


  body > button {
    display: flex;
    justify-content: flex-end;
    margin: 0vmin;
    padding: 0vmin;
    border: 0vmin;
    background-color: transparent;
    color: grey;
    font-size: 2vmin; 
  }

  body > button:hover {
    color: white;
  }
  
canvas {
    position: relative;
    /* width: 900px; */
    /* height: 900px; */
    background-color: #D9D9D9;

}

/* Desktop styles */
@media (min-width: 768px) {
  canvas {
    width: 800px;
    height: 800px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  canvas {
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-bottom));
  }
}
